@model CancelamentoIdentity.Models.TiposCancelamentos
<div class="form-group bg-danger text-center">
    <label asp-for="Abonavel" class="control-label"></label>
    <input asp-for="Abonavel" class="form-control" disabled/>
    <span asp-validation-for="Abonavel" class="text-danger"></span>
</div>